/* Signup Page start */
.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.signup-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.signup-container h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: var(--pink);
}

.btnsignup {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--pink);
    border: none;
    border-radius: 4px;
    color: rgb(58, 16, 16);
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnsignup:hover {
    background-color: #0056b3;
}

p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #666;
}

p a {
    color: #ff00bf;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* sign up page end */

/* sign in page start */
.signin-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.signin-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signin-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #2b5876;
}

.input-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.btnsignin{
    display: inline-block;
    background-color: var(--pink);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnsignin:hover {
    background-color: var(--purple);
}
/* sign in page end */