/* order section css start */
#order-section {
    padding: 5rem 9%;
    background: linear-gradient(to bottom, #ffffff, #f7f7f7);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 10px;
    margin-top: 3rem;
  }
#order-section h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 3rem;
}
#order-form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#order-form input,
#order-form select {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#order-form button {
  background: var(--pink);
  color: #fff;
  border: none;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow);
}
.location-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d7006f; 
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.location-label:hover {
    color: #800080; 
    border-bottom-color: #800080; 
}

/* order section css end  */